.characters-page {
    width: 100vw;
    height: calc(100vh - 12rem);
    background-image: url(/public/marvel-wallpaper-blue.jpeg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.characters-card img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    padding:1rem;   
   
}
.characters-card h2 {
   color: white; 
}
.heroes-carroussel-hold {
    width: 1058px;
    height: 24rem;
    overflow: hidden;
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
    backdrop-filter: blur(10px) opacity(1);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.heroes-carroussel {
    overflow-x: scroll;
    display: flex;
}
.heroes-carroussel::-webkit-scrollbar {
    display: none;
}
.search-form {
    height: 2.6rem;
    width: 16.4rem;
    display: flex;
    background-color: rgba(40, 40, 40, 0.7);
    justify-content: space-around;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
}
.search-input {
    height: 1.6rem;
    width: 10rem;
    border-radius: 5px;
}
.page-skip {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}