.characters-page {
    width: 100vw;
    height: calc(100vh - 12rem);
    background-image: url(/public/marvel-wallpaper-blue.jpeg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} 

.heroes-display h4 {
    color: goldenrod;
    font-weight: bold;
}

.characters-card {
    background-color: black;
    border: solid  goldenrod 4px;
    margin: 0rem 1rem 1rem 1rem; 
    border-radius: 0.8rem;  
    box-shadow: 0.4rem 0.4rem 0.4rem rgb(99, 73, 6);
}

.characters-card img {
    height: 19rem;
    width: 19rem;
    object-fit: contain;
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
    border-bottom: solid goldenrod 4PX;
}

.characters-card h2 {
  color: goldenrod;
  text-align: center;
}

.heroes-display {
    max-width: 1058px;
    width: calc(100vw - 2rem);
    height: 26rem;
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 1rem;
    border: solid #5071A0 4px;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
    backdrop-filter: blur(2px) opacity(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.heroes-carroussel {
    overflow-x: scroll;
    display: flex;
    height: 90%;
}

.heroes-carroussel::-webkit-scrollbar {
    display: none;
}


.perpage {
    width: 2rem;
}