.comics-page {
    width: 100vw;
    height: calc(100vh - 12rem);
    background-image: url(/public/marvel-wallpaper-yellow.jpeg);
    background-size: cover;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.comics-card {
    margin:1rem;   
    background-color: black;
    border: solid #880201 4px;
    border-radius: 0.8rem;
}

.comics-card img {
    height: 19rem;
    max-width: 12.52rem;
    object-fit: cover;
    border-bottom: solid#8e1212 4px;
    margin: 1rem 0rem 0rem 0rem;

}

.comics-card h3 {
    font-weight: bold;
    color: #9d2929; 
    text-align: center;
}

.comics-display {
    display: flex; 
    width: 1058px;
    overflow: hidden;
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 1rem;
    border: solid goldenrod 4px;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
    backdrop-filter: blur(2px) opacity(1);
}
.comics-carroussel {
    overflow-x: scroll;
    display: flex;
}
.comics-carroussel::-webkit-scrollbar {
    display: none;
}