.header-component {
    height: 6rem;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav {
    height: 6rem;
    overflow: hidden;
}
header img {
    object-fit: cover;
    position: relative;
    top: -6rem;
}