@import "CSS/reset.css";
@import "CSS/home.css";
@import "CSS/header.css";
@import "CSS/character.css";
@import "CSS/characters.css";
@import "CSS/comic.css";
@import "CSS/comics.css";
@import "CSS/searchform.css";
@import "CSS/footer.css";

.App {
  font-family: sans serif, Arial, Helvetica ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  height: calc(100vh - 12rem);
}
.text-link {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1,5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 0.5rem;
}
