@import "CSS/reset.css";
@import "CSS/home.css";
@import "CSS/header.css";
@import "CSS/character.css";
@import "CSS/characters.css";
@import "CSS/comic.css";
@import "CSS/comics.css";
@import "CSS/footer.css";

.App {
  font-family: sans-serif, Arial, Helvetica, ;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  height: calc(100vh - 12rem);
}
h1 {
  font-size: 3rem;
}
